/**
 * OpenLyrics XML+XSLT+CSS stylesheet
 * Common
 */

/* properties */
p {
  margin: 0;
  padding: 0;
}
header,
section.properties,
aside.verse-order {
  font-size: 10pt;
}
span[class] > em { /* descriptions */
  display: none; /* hide with "none", display with "inline" */
}
p.properties-main > span[class] > em,
article > .verse-name > em,
article > .verse-lang > em,
article > .verse-translit > em,
p.lines > .line-part em,
p.lines > .lyrics-comment em {
  display: none;
}

header {
  margin: .5em 0 1.5em 0;
}
header h1 { /* title */
  font-size: 22pt;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding: 0;
}
header .title:not(:last-of-type)::after,
.properties .author:not(:last-of-type)::after {
  content: " • ";
  padding: 0 .2em;
}
.properties-other span,
.properties-main span {
  padding-right: .4em;
}
header .title.original {
  font-weight: bold;
}
header .title.original::before,
.properties .properties-authors::before,
.properties .author::before,
.properties .copyright::before,
.properties .ccliNo::before,
.properties .released::before,
.properties .transposition::before,
.properties .tempo::before,
.properties .key::before,
.properties .variant::before,
.properties .publisher::before,
.properties .version::before,
.properties .keywords::before,
.verse-order .verseOrder::before,
.properties .songbook::before,
.properties .themes::before,
.properties .comment::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  margin-right: .25em;
}
header .title.original::before          { content: "\f024"; /* flag */ }
.properties .properties-authors::before { content: "\f007"; /* user */ }
.properties .author.words::before       { content: "\f031"; /* font */ }
.properties .author.music::before       { content: "\f001"; /* music */ }
.properties .author.translation::before { content: "\f0ac"; /* globe */ }
.properties .copyright::before          { content: "\f07a"; /* shopping-cart */ }
.properties .ccliNo::before             { content: "\f02a"; /* barcode */ }
.properties .released::before           { content: "\f073"; /* calendar */}
.properties .transposition::before      { content: "\f0dc"; /* sort */}
.properties .tempo::before              { content: "\f017"; /* clock-o */}
.properties .key::before                { content: "\f084"; /* key */ }
.properties .variant::before            { content: "\f074"; /* random */ }
.properties .publisher::before          { content: "\f1ad"; /* building */ }
.properties .version::before            { content: "\f126"; /* code-fork */ }
.properties .keywords::before           { content: "\f02b"; /* tag */ }
.verse-order .verseOrder::before        { content: "\f061"; /* arrow-right */ }
.properties .songbook::before           { content: "\f02d"; /* book */ }
.properties .themes::before             { content: "\f069"; /* asterisk */ }
.properties .comment::before            { content: "\f075"; /* comment */ }

section.properties p.properties-other:not(:empty) {
  margin: .25em 0 .5em -.5em;
  padding: .5em;
}
section.properties p.properties-main:not(:empty) {
  text-align: right;
  position: relative;
  top: -0.8em;
}
section.properties p.properties-main span {
  border-style: solid;
  border-width: .3em;
  border-right-style: none;
  float: right;
  padding: .1em .25em;
}
section.properties p.properties-main span:first-child {
  border-right-style: solid;
}

/* verse-order */
aside.verse-order {
  clear: right;
  float: right;
  width: 7em;
}
aside.verse-order span div {
  /*display: block; TODO: doule line-height in Prince
  line-height: 0.5em;
  white-space: pre-line;*/
}

/* lyrics */
section.lyrics {
  margin: 1.5em 0;
}

section.lyrics > article.verse,
section.lyrics > article.instrument {
  margin: 0 0 1em 60pt;
  font-size: 14pt;
  position: relative;
}

section.lyrics > article.verse .verse-name, /* verse names */
section.lyrics > article.instrument .verse-name,
section.lyrics > article.verse .verse-lang,
section.lyrics > article.verse .verse-translit {
  position: absolute;
  width: auto;
  top: 12pt;
  left: -60pt;
  transform: rotate(90deg);
  transform-origin: top left;
  text-align: left;
  font-size: 10pt;
}
section.lyrics > article.instrument .verse-name {
  top: 0;
}
section.lyrics > article.verse .verse-lang,
section.lyrics > article.verse .verse-translit {
  left: -50pt;
}
p.lines > .line-part { /* line part */
  position: absolute;
  width: 50pt;
  margin-top: 12pt;
  left: -50pt;
  font-size: 10pt;
}
p.lines > .lyrics-comment { /* comment in lines */
  position: absolute;
  width: 10em;
  margin-top: 12pt;
  right: 15em;
  font-size: 8pt;
  line-height: 10pt;
  font-style: italic;
  text-align: right;
}


/********************************************************************/

code {
  display: none;
}




