/**
 * OpenLyrics XML+XSLT+CSS stylesheet
 * OpenLyrics 0.9
 */

:root[data-ol-version="0.9"] code {
  display: none;
}
:root[data-ol-version="0.9"] .segment {
  display: inline-block;
  border: 1px solid red;
}
:root[data-ol-version="0.9"] .segment > .chord:only-child {
  display: inline-block;
  margin-top: 1.2em;
  position: relative;
  top: -1.2em;
}
:root[data-ol-version="0.9"] .segment .lyrics {
  display: block;
}
:root[data-ol-version="0.9"] .segment .chord {
  display: block;
  height: 1em;
  color: red;
}
:root[data-ol-version="0.9"] .segment .chord .chord-base:not(:empty) {
  font-weight: bold;
}
:root[data-ol-version="0.9"] .segment .chord .chord-ext:not(:empty) {
  vertical-align: super;
  font-size: 10pt;
  color: blue;
}
:root[data-ol-version="0.9"] .segment .chord .chord-bass:not(:empty) {
  font-size: 10pt;
  vertical-align: sub;
  color: black;
}
:root[data-ol-version="0.9"] .segment .chord .chord-ext:not(:empty) + .chord-bass:not(:empty) {
  margin-left: -.15em;
}
/* Has BR */
:root[data-ol-version="0.9"] .segment.linebreak {
  display: inline;
  position: relative;
}
:root[data-ol-version="0.9"] .segment.linebreak .chord {
  position: absolute;
  display: inline-block;
  margin-top: -1em;
}
:root[data-ol-version="0.9"] .segment.linebreak .lyrics {
  display: inline;
}
