/* First page */
body.band > h1 {
  visibility: hidden;
  page-break-after: always; 
}
@page:first {
  background: url(elements/songbook_saintandrew_band.svg);
}

/* Hide: inline comments, indicator for line's part */
body.band section#songs > h1:first-child {
  display: none;
}


/* Foreword */

/* TOC */
body.band nav.toc {
  columns: 2;
  column-gap: 0.5cm;
  border: none;
}
