/**
 * OpenLyrics XML+CSS stylesheet
 * Book
 */

toc {
  display: block;
  margin: 1rem 0;
}
toc entry {
  display: list-item;
  margin-left: 1rem;
  line-height: 1.4rem;
}
toc entry a {
  padding: .15rem .5rem;
  text-decoration: none;
}

@media screen {
  toc entry a {
    color: blue;
  }
  toc entry a:hover {
    background: rgb(228, 241, 254);
  }
}

