/**
 * OpenLyrics XML+XSLT+CSS stylesheet
 * Book
 */

/* book */
:root {
  font-size: 11pt;
}
@page {
  size: A4;
  @top-left {
    content: none;
  }
  @bottom-left {
    content: none;
  }
  @bottom-right {
    content: none;
  }
}
@page:left {
  margin: 1.2cm 1.2cm 1cm 0.7cm;
}
@page:right {
  margin: 1.2cm 0.7cm 1cm 1.2cm;
}

body.public section#songs {
  page-break-before: always;
  columns: 2;
  column-gap: 0.5cm;
}

body.public section#songs .song {
  page-break-before: auto;
  padding-top: .5rem;
}

body.public main > article.verse,
body.public main > article.instrument {
  margin-left: 2rem;
}
body.public main > article.verse .verse-name,
body.public main > article.instrument .verse-name,
body.public main > article.verse .verse-lang,
body.public main > article.verse .verse-translit {
  left: -2rem;
}

body.public aside.verse-order {
  width: 3rem;
  margin-left: .5rem;
}
body.public header {
  background: device-cmyk(0, 0, 0, 0.0588);
  margin: .25rem -.5rem .5rem -.5rem;
  padding: .25rem .5em;
  border-radius: .25rem;
}

body.public header,
body.public aside.verse-order {
  font-size: 7pt;
}
body.public header {
  margin-bottom: 0;
}
body.public section.titles,
body.public section.properties {
  display: inline;
}
body.public section.properties p.properties-other:not(:empty) {
  margin: 0;
  padding: 0;
}
body.public section.properties p,
body.public section.properties p.properties-songbooks .songbook {
  display: inline;
}
body.public section.properties p.properties-main:not(:empty) {
  text-align: left;
  position: static;
  top: 0;
}
body.public section.properties p.properties-main span {
  background: transparent;
  border: none;
  float: none;
  padding: 0;
  margin-right: 0;
}
body.public header .title-real {
  font-size: 1rem;
  font-weight: bold;
  display: none;
}
body.public header .title-entry {
  background: device-cmyk(0, 0, 0, 1);
  color: device-cmyk(0, 0, 0, 0);
  border-radius: 0.25rem;
  display: inline-block;
  float: left;
  margin: -.25rem .5rem 0 -.25rem;
  padding: 0 .25rem;
  font-size: 1.75rem;
  min-width: 2.5rem;
}

/* Hide: inline comments, indicator for line's part */
body.public section#songs > h1:first-child,
body.public .lines .lyrics-comment,
body.public .lines .line-part {
  display: none;
}
