/**
 * OpenLyrics XML+CSS stylesheet
 * Print media
 */

@page {
  size: A4;
  margin: 68pt 96pt 136pt 40pt;
  @top-left { 
    content: "OpenLyrics " string(openlyrics-version);
  }
  @bottom-right {
    content: counter(page);
  }
}
:root {
  color: cmyk(0, 0, 0, 1);
  string-set: openlyrics-version attr(version);
}
title:first-child {
  color: cmyk(0, 0, 0, 1);
}
properties {
  border-bottom-color: cmyk(0, 0, 0, 0.35);
  color: cmyk(0, 0, 0, 0.35);
}
lines comment {
  color: cmyk(0, 0, 0, 0.35);
}
lyrics > verse::before, 
lyrics > instrument::before,
lyrics > verse[lang]::after,
lines[part]::before {
  color: cmyk(1, 0, 0, 0);
}
chord::before {
  color: cmyk(0, 1, 1, 0);
}
beat::after {
  color: cmyk(0, 0, 0, 1);
}
lyrics > verse, 
lyrics > instrument { 
  page-break-inside: avoid;
}

/* to avoid unnecessary line break after "/" in chord.
 * See: https://www.princexml.com/doc/properties/prince-linebreak-magic/
 */
:root[version="0.8"] chord[name]:empty::before {
  prince-linebreak-magic: none;
}
