/**
 * OpenLyrics XML+XSLT+CSS stylesheet
 * Print media
 */

@page {
  size: A4;
  margin: 68pt 96pt 136pt 40pt;
  @top-left { 
    content: "OpenLyrics " string(openlyrics-version);
  }
  @bottom-right {
    content: counter(page);
  }
}
:root {
  color: cmyk(0, 0, 0, 1);
  string-set: openlyrics-version attr(version);
}
